.bigcard{
    margin-left: 50px;
}
div.form{
    margin: auto;
    width: 450px;
    box-shadow: 1px 1px 3px black;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto
}

h4{
    font-family: monospace;
    font-weight: bold;
}