
* {
  font-family: Helvetica;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h3{
    margin-right: 0;
}

.Subtitulo{
    margin-left: 10px;
}
.hr{
    width: 275px;
}

.hr-2{
    width: 1000px;
}

.hr-3{
  width: 1000px;
}

.container{
    text-align: left;
    margin-left: 0;
    margin-right: 0;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 235px;
}

.container2{
    text-align: left;
    margin-left: 300px;
    margin-right: 0;
    margin-top: 5px;
    margin-bottom: 5px;
}

.opcoes{
    background-color: none;
    color: #000000;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 2px;
    width: 235px;
    font-weight: bold;
    cursor: pointer;
    padding: 10px;
    border: none;
    text-decoration: none;
    display:list-item;
    list-style:none; 
    display: flex;
    align-items: left;
    justify-content: left;
    flex-wrap: wrap;
    padding-top: 4px;
    padding-bottom: 4px;
}

.opcoes:hover{
    text-decoration: none;
    transition: 0.5s;
    background-color: rgb(105, 157, 235);
}

.pai{
    display: flex;
    
}

.pai-container{
  width: 300px;
  margin-left: -25px;
  height: auto;
  min-height: 1000px;
  border-right: 1px solid #a0a0a052;
  position: fixed;
}

.pai-cards{
display: flex;
}

.card{
    top:0px;
    bottom:0px;
    margin: 30px;
}

.content p{
    margin-right: 10px;
    margin-left: 10px;
}
.box-search{
    display: flex;
    justify-content: center;
    gap: 0.1%;
    width: 500px;
    text-align: center;
    margin: auto;
    margin-bottom: 15px;
  }
  .box-search-title{
    text-align: center;
  }
  .box-div{
    display: block;
  }

table{
    text-align: center;
    margin-bottom: 0;
    margin-top: 0;
    margin-left: 10px;
    max-width: 1000px;
}

button{
    border: none;
    cursor: pointer;
    background-color: white;
} 

body {
  padding-top: 60px;
  padding: 1rem;
  background-color: #e8e8e5;
}

h1 {
  margin-bottom: 1rem;
}

.acoes{
  display: flex;
  justify-content: space-evenly;
}

.datetitle{
  text-align: center;
  font-size: large;
  font-weight: bold;
}

footer {
  position: fixed;
  bottom:0;
}

footer a{
  text-decoration: none;
  color: #000000;
}

.Subtitulo{
  color: rgb(90, 94, 99);
  font-weight: bold;
  font-family: monospace;
  text-align: center;
}

.layoutText{
  background-color: rgb(102, 101, 109);
  color: white;
  font-family: monospace;
  width: 960px;
  margin-left: 40px;
  margin-bottom: 10px;
  padding: 20px;
}
.layout{
  margin-left: 40px;
  background-color: white;
  padding: 20px;
  box-shadow: 1px 1px 2px black;
}