* {
    font-family: Helvetica;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  button{
      border: none;
      cursor: pointer;
      background-color: white;
  } 

  body {
    padding: 1rem;
    background-color: #e8e8e5;
  }
  
  h1 {
    margin-bottom: 1rem;
  }
  
.form-control{
    width: 800px;
}

.form{
    margin-left: 40px;
}