* {
    font-family: Helvetica;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  button{
      border: none;
      cursor: pointer;
      background-color: white;
  } 

  body {
    padding: 1rem;
    background-color: #e8e8e5;
  }
  
  h1 {
    margin-bottom: 1rem;
  }
  
.form-control{
    width: 800px;
}

h4{
  background-color: rgb(102, 101, 109);
  color: white;
  font-family: monospace;
  width: 960px;
  margin-left: 40px;
  margin-bottom: 10px;
  padding: 20px;
}
.form{
  margin-left: 40px;
  background-color: white;
  padding: 15px;
  box-shadow: 1px 1px 2px black;
}